body {
  margin: 0; }
  body #layout-main {
    height: 100%; }
  body .form {
    background-color: #f5f6f7;
    padding: 15px;
    margin-top: 50px;
    width: 100%; }
  body .form h1 {
    margin-bottom: 14px; }
  body form input {
    padding: 10px 5px;
    outline: none;
    border: none;
    margin: 15px 0;
    display: block;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.56px; }
  body .sign {
    max-width: 350px;
    margin: 0 auto; }
    body .sign input[type='submit'] {
      border: 0;
      outline: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #29487d;
      width: 100px;
      color: white;
      font-size: 12px;
      padding: 10px 0;
      letter-spacing: 0.34px;
      cursor: pointer; }
    body .sign a {
      text-decoration: none;
      color: black; }
  body .posts {
    width: 70%; }
